@font-face {
  font-family: Helvetica_web_font;
  src: url(../font/Helvetica.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    color: #4A4A4A;
    font-family: Helvetica,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

cite{
    font-style: normal;
}

.page_section{
    width: 100%;
}

#header{
    height: 60px;
}

#logo{
    position: absolute;
    top: 16px;
    left: 35px;
    height: 34px;
    cursor: pointer;
}

.nav{
    line-height: 61px;
    font-size: 14px;
    display: block;
    float: right;
    margin: 0 19px;
    cursor: pointer;
}

#nav_wrapper{
    position: absolute;
    top:0;
    right: 0;
}

#face-pic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

#menu_page{
    background-color: #525252;
    height: 40px;
}

#link_wrapper>a{
    font-size: 15px;
    text-decoration: none;
    color: #bbb;
    margin: 0 18px;
    line-height: 40px;
    /*line-height同高度*/
    cursor: pointer;
}

#link_wrapper>a:hover{
    color: white;
}

#link_wrapper{
    display: flex;
    flex-direction:row;
    justify-content:left;
    padding-left: 150px;
}

.now_flag{
    background-color: #bbb;
    height: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -25px;
}

#pic_section{
    background-image: url(../pic/screenshot.png);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
}

#teacher_button_wrapper{
    float: right;
    margin: 11px;
}

.teacher_button{
    color: white;
    background-color: #F5A623;
    border: 1px solid #DF951A;
    border-radius: 6px;
    padding: 3px 15px;
    display: inline-block;
    font-weight: normal;
    margin: 7px;
    cursor: pointer;
}

#class_info{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 210px;
    padding: 47px 75px;
    padding-right: 0;
}

#teacher_img{
    border-radius: 100%;
    /*height: 154px;
    width: 154px;*/
    height: 120px;
    width: 120px;
    cursor: pointer;
}

#teacher_name{
    text-align: center;
    font-size: 19px;
    margin-top: 5px;
}

#class_data{
    margin-left: 75px;
}

#class_name{
    font-size: 28px;
}

#bookmark{
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
}

#class_info_wrapper{
    display: flex;
    margin-top: 10px;
}

#class_info_wrapper>span{
    font-size: 18px;
}

.category_tag{
    text-decoration: none;
    border-radius: 2px;
    padding: 2px 11px;
    border: 1px solid #999;
    color: #999;
    font-size: 16px;
    margin: 5px 10px;
    flex-wrap:wrap;
    display: inline-block;
    margin-top: -1px;
}

.category_tag:hover{
    background-color: #999;
    color: white;
}

#applied_num{
    margin-left: 25px;
}

#people_num{
    color: #FF5A60;
    font-weight: bold;
}

#price_box_cover{
    flex: 0 0 475px;
}

#price_box{
    border: 1px solid #999999;
    position: absolute;
    top: 652px;
    right: 75px;
    font-size: 17px;
}

#price_box_title{
    background-color: rgba(74,74,74,0.7);
    padding: 12px 23px;
    color: white;
    height: 47px;
    box-sizing: border-box;
}

#blank{
    width: 12px;
    display: inline-block;
}

#price_box_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    background-color: white;
}

#content_row1{
    margin-bottom: 15px;
}

#button_wrapper{
    padding-top: 23px;
}

#batch{
    font-size: 32px;
}

#price,#money_type{
    color:#FF5A60; 
    font-weight: bold;
}

#price{
    font-size: 33px;
}

#button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bottom_button{
    padding: 3px 25px;
    margin: 0 19px;
    border-radius: 5px;
    cursor: pointer;
}

#start_learning{
    background-color:#4A90E2; 
}

#buy{
    background-color:#FF5A60; 
}

#about_section{
    background-color: #EDEFEC;
    box-sizing: border-box;
    padding: 20px 120px;
}

.article{
     padding: 40px 0;
}

.article_title{
    font-size: 32px;
    font-weight: normal;
}

.article_content{    
    padding-left: 27px;
    font-size: 15px;
}

#article_content_list>li{
    margin: 12px 0;
}

.video_wrapper{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    /*依照影片比例更改*/
    height: 0;
}
.video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#personal_info{
    padding: 20px 120px;
    box-sizing: border-box;
}

#info_wrapper{
    display: flex;
    margin: 70px;
    margin-left: 70px;
    /*修改過margin-left: */
}

#profile_picture{
    height: 154px;
    width: 154px;
    border-radius: 100%;
    margin-right: 45px;
    cursor: pointer;
}

#info_name,#info_email{
    font-size: 30px;
    font-weight: bold;
    margin-right: 12px;
}

#info_email{
    font-size: 15px;
}

#info_track{
    color: #999999 ;
    border: 1px solid #999999;
    border-radius: 2px;
    padding:5px 11px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    margin-top: 6px;
    font-size:12px;
    cursor: pointer;
}

#track_favorite{
    vertical-align: middle;
    margin-left:2px;
    margin-right:4px;
}

#experience_works{
    display: flex;
}

#experience,#works{    
    width: 50%;
}

.experience_works_title{
    font-size:18px;
}

.exp_year{}

.exp_row{}

.one_work{
    text-decoration: none;
    color: #4A4A4A;
    display: block;
    margin: 12px 0;
}

#messages_section{
    padding: 0 23%;
    padding-top: 70px;
    box-sizing: border-box;
}

#message_input_wrapper{
    height: 110%;
}

#message_input{
    width: 100%;
    height: 130px;
}

#submit_message_wrapper{
    display: flex;
    justify-content: flex-end;
}

#submit_message{
    background-color: #EDEFEC;
    padding: 6px 20px;
    margin-right: -5px;
    margin-top: 10px;
    cursor: pointer;
}

.message_writer{
    margin-right: 80px;
}

.messages_entity{
    display: flex;
    margin: 30px 0;
}

.message_photo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-top: 6px;
}

.message_name{
    text-align: center;
    font-size: 18px;
}
.message_content{
    font-size: 18px;
}

.message_bottom_wrapper{
    padding: 25px 0;
}

.message_date{
    font-size: 20px;
}

.split_line{
    border:0;
    width: 100%;
    height: 1px;
    background-color: #999999;
}

#search_section{
    background-color: rgba(0,0,0,0.6);
}

#search_others{
    width: 300px;
    margin: 0px auto;
    color: white;
    font-size: 37px;
    font-weight: normal;
    text-align: center;
    padding-top: 31px;
}

#search_form{
    padding-bottom: 30px;
    padding-top: 30px;
}

#search_bar{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#select_category,#learn_what,#go_search{
    height: 44px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    box-shadow: none;
    border: none;
}

#select_category{
    /*Remove original arrows*/
    -webkit-appearance: none;
    padding:10px;
    border-radius: 8px;
    padding-left: 12px;
    width: 100px;
    /*Use png at assets/selectArrow.png for the arrow on the right
    Set the background color to a BadAss Green color */
    background: url(../pic/select_arrow.png) no-repeat right white;
    background-position-x: 72px;
    cursor: pointer;
}

#learn_what{
    width: 530px;
    padding:10px;
    margin-left: 10px;
}

#go_search{
    background-color: #ff5a5f;
    color: #fff;
    padding: 9px 27px;
    font-weight: bold;
    border-radius: 0 2px 2px 0;
    vertical-align: bottom;
    margin-left: -4px;
    font-weight: 100;
    cursor: pointer;
}

#about_company_section{
    background-color: #2c2d2f;
    color:white;
}

#about_link_wrapper{
    display: flex;
    justify-content: center;
    padding: 40px 0 18px;
}

.about_link{
    text-decoration: none;
    color:white;
    margin: 0 20px;
    font-size: 16px;
}

#copyright{
    padding: 18px 0;
    font-size: 13px;
}