@font-face {
  font-family: Helvetica_web_font;
  src: url(../font/Helvetica.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    /*font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Helvetica,"Helvetica_web_font",Arial,sans-serif;
}

.page_section{
    width: 100%;
}

#header{
    height: 60px;
}

#logo{
    position: absolute;
    top: 16px;
    left: 35px;
    height: 34px;
}

.nav{
    line-height: 61px;
    font-size: 14px;
    display: block;
    float: right;
    padding: 0 19px;
}

#nav_wrapper{
    position: absolute;
    top:0;
    right: 0;
}

#face-pic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 10px;
}

#menu_page{
    background-color: #525252;
    height: 40px;
}

#link_wrapper>a{
    text-decoration: none;
    color: white;
    margin: 0 18px;
    line-height: 40px;
    /*line-height同高度*/
}

#link_wrapper{
    display: flex;
    flex-direction:row;
    justify-content:left;
    padding-left: 150px;
}

.now_flag{
    background-color: white;
    height: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -25px;
}

#pic_section{
    background-image: url(../pic/screenshot.png);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
}

#class_info{
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    height: 296px;
}

#class_info,#about_class{
    padding: 50px 120px;
}

#teacher_img{
    border-radius: 100%;
    height: 154px;
    width: 154px;
}

#teacher_name{
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
}

#class_data{
    margin-left: 90px;
}

#class_name{
    font-size: 40px;
}

#class_info_wrapper{
    display: flex;
    margin-top: 10px;
}

#class_info_wrapper>span{
    font-size: 18px;
}

.category_tag{
    color: #999999;
    padding: 3px 11px;
    border: 2px solid #999999;
    border-radius: 5px;
    margin: 0 5px;
}

#applied_num{
    margin-left: 25px;
}

#people_num{
    color: #FF5A60;
    font-weight: bold;
}











#about_class{
    background-color: #EDEFEC;
    height: 800px;
    box-sizing: border-box;
}

#pesonal_info{
    
}

#info_wrapper{
    display: flex;
    margin: 70px;
    margin-left: 156px;
}

#profile_picture{
    height: 154px;
    width: 154px;
    border-radius: 100%;
    margin-right: 45px;
}

#info_name,#info_email{
    font-size: 30px;
    font-weight: bold;
    margin-right: 12px;
}

#info_email{
    font-size: 15px;
}

#info_edit{
    text-decoration: none;
    color: white;
    background-color: #F5A623;
    border: 1px solid #DF951A;
    border-radius: 6px;
    padding: 3px 15px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    margin-top: 6px;
}

#about_company_section{
    background-color: #2c2d2f;
    color:white;
}

#about_link_wrapper{
    display: flex;
    justify-content: center;
    padding: 40px 0 18px;
}

.about_link{
    text-decoration: none;
    color:white;
    margin: 0 20px;
    font-size: 18px;
}

#copyright{
    padding: 18px 0;
    font-size: 15px;
}