@font-face {
  font-family: Helvetica_web_font;
  src: url(../font/Helvetica.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    /*font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Helvetica,"Helvetica_web_font",Arial,sans-serif;
}

.page_section{
    min-width: 100%;
}

#header{
    height: 60px;
}

#logo{
    position: absolute;
    top: 16px;
    left: 35px;
    height: 34px;
}

.nav{
    line-height: 61px;
    font-size: 14px;
    display: block;
    float: right;
    padding: 0 19px;
}

#nav_wrapper{
    position: absolute;
    top:0;
    right: 0;
}

#face-pic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 10px;
}

#menu_page{
    background-color: #525252;
    height: 40px;
}

#link_wrapper>a{
    text-decoration: none;
    color: white;
    margin: 0 18px;
    line-height: 40px;
    /*line-height同高度*/
}

#link_wrapper{
    display: flex;
    flex-direction:row;
    justify-content:left;
    padding-left: 150px;
}

.now_flag{
    background-color: white;
    height: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -25px;
}

#pic_section{
    background-image: url(../pic/building-joy-planning-plans.png);
    background-position:center -211px;
    /*background-position: center center;*/
    background-repeat: no-repeat; 
    background-size: cover;
    height: 205px;
    color: white;
}

#right{
    margin-right: 60px;
    margin-top: 51px;
    float: right;
}

#slogan_title{
    font-weight: normal;
    margin: 0;
    font-size: 46px;
    color: #4A90E2;
}

#countdown_time{
    padding-left: 20px;
}

#slogan_subtitle{
    color: #4A90E2;
    float: right;
    margin: 0;
    font-size: 20px;
    margin-right: 45px;
    font-weight: normal;
}

#creat_class_wrapper{
    height: 0;
}

#creat_class{
    background-color: #F5A623;
    text-decoration: none;
    color: white;
    margin-left: calc((100% - 350px * 3)/2);
    font-size: 21px;
    padding: 14px 51px;
    border-radius: 5px;
    font-weight: normal;
    position: relative;
    top: 58px;
    left: -15px;
} 

#into_classroom{
    font-size: 16px;
    text-decoration: none;
    padding: 5px 25px;
    background-color: #4A90E2;
    color: white;
    border-radius: 5px;
    margin-right: 26px;
    margin-top: 14px;
    float: right;
}

#class_section{
    background-color:#EDEFEC;
}

.time_wrapper{
    padding: 50px 0;
}

.month,.year{
    /*font-weight: normal;*/
    margin: 0;
    display: inline-block;
}

.month{
    font-size: 36px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.year{
    font-size: 16px;
    float: right;
    margin-right: calc((100% - 350px * 3)/2);
}

.classes_row{
    display: flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom: 90px;
}

.slide_content{
    margin: 0px 30px;
}

.wrapper{
    position: relative;
    width: 320px;
}

.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 0;
    border-color: #f5a423 transparent transparent transparent;
}

.triangle_content{
    position: absolute;
    color: white;
    transform: rotate(-45deg);
    top: 15px;
    left: 4px
}

.price_wrapper{
    position: absolute;
    top: 148px;
    background-color: #4d4c4a;
    color: white;
    height: 45px;
    padding: 0 10px;
}

.cost_icon,.NTD{
    vertical-align: bottom;
}

.price{
    position: relative;
    top: 6px;
    margin-left: 18px;
    margin-right: 5px;
    font-size: 32px;
}

.two-col{
    display: flex;
    width: 100%;
}
.face-img{
    height: 67px;
    position: relative;
    top: -31px;
    right: 7px;
    border-radius: 100%;
    margin-left: 10px;
}

.img_intro{
    margin-top: 15px;
    font-size: 22px;
    white-space:pre-wrap; 
}

#all_class{
    text-decoration: none;
    color: #494949;
    border: 1px solid  #C8C8C8;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    padding: 7px 20px;
    margin: 15px 0;
    font-size: 17px;
    margin: 55px 0 45px;
    border-radius: 2px;
}

#about_company_section{
    background-color: #2c2d2f;
    color:white;
}

#about_link_wrapper{
    display: flex;
    justify-content: center;
    padding: 40px 0 18px;
}

.about_link{
    text-decoration: none;
    color:white;
    margin: 0 20px;
    font-size: 16px;
}

#copyright{
    padding: 18px 0;
    font-size: 13px;
}