@font-face {
  font-family: Helvetica_web_font;
  src: url(../font/Helvetica.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    font-family: Helvetica,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page_section{
    min-width: 100%;
    box-sizing: border-box;
}

#header{
    height: 60px;
}

#logo{
    position: absolute;
    top: 16px;
    left: 35px;
    height: 34px;
    cursor: pointer;
}

#live_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#isLive{
    background-color: rgba(239, 66, 75, 0.7);
    color: white;
    padding: 2px 10px;
    border-radius: 7px;
}

#live_icon{
    vertical-align: middle;
    margin-bottom: 4px;
}

#live_title{
    font-weight: bold;
    font-size: 18px;
    margin: 0 19px;
}
#show_key{
    color: #999999;
    border: 1px solid #999999;
    padding: 2px 11px;
    border-radius: 4px;
    cursor: pointer;
}

.nav{
    line-height: 61px;
    font-size: 14px;
    display: block;
    float: right;
    margin: 0 19px;
    cursor: pointer;
}

#nav_wrapper{
    position: absolute;
    top:0;
    right: 0;
}

#face-pic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

#personal_option_box{
    position: absolute;
    left: 147px;
    display: none;
}

#personal_option_box{
    left: -127px;
    z-index: 5;
    /*因為教師直播的header功能列表較少(只有帳號名稱)
    所以用新屬性必須覆蓋掉本來的*/
}

#personal_option_wrapper{
    background-color: white;
}

#personal_option_triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent #ffffff transparent;
    position: relative;
    left: 206px;
    top: 1px;
}
.personal_option{
    background-color: white;
    padding: 20px;
    line-height: 25px;
    width: 215px;
}

.personal_option:hover{
    padding-left: 26px;
}

.personal_option_splite_line{
    background-color: #dcdbdb;
    height: 1px;
    border: 0 solid white;
    margin: 0 20px;
}

#live_status_page{
    font-size: 15px;
    background-color: #525252;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    box-sizing: border-box;
    color: white;
}

#live_status_page>div{
    width: 200px;
    font-size:15px;
}

#class_timer{
    text-align: center;
}

.status_bar_button{
    padding-left: 20px;
    float: right;
    cursor: pointer;
}

#live_video_section{
    display: flex;
    overflow: hidden;
}

#students{
    width: 80px;
    background-color: #f6f6f6;
}

#setting_box_wrapper{
    height: 60px;
    width: inherit;
    display: flex;
    position: relative;
    z-index: 25;
}

#setting_icon{
    height: 30px;
    width: 30px;
    /*margin: 15px auto;*/
    padding: 15px 25px;
    /*parent寬80px,自己寬30px,padding左右 25px*/
    display: block;
    position: relative;
    z-index: 10;
    background-color: #f6f6f6;
    cursor: pointer;
}

#setting_box_visual{
    display: none;
}

#setting_box_triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent rgba(74, 74, 74, 0.7) transparent transparent;
    position: relative;
    top: 25px;
    left: 15px;
    z-index: 10;
}

#setting_box{
    z-index: 10;
    background-color: rgba(74, 74, 74, 0.7);
    border-radius: 6px;
    display: inline-table;
    position: relative;
    top: -2px;
    left: 27px;
    padding: 14px;
}

.setting_title{
    color: white;
}
#word_size{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 130px 4px 0;
    border-color: transparent #ffffff transparent transparent;
    position: relative;
    top: -14px;

}

input[type=range] {
  -webkit-appearance: none;
  width: 130px;
  border-radius: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0.1px rgba(3, 0, 0, 0.1), 0px 0px 0.1px rgba(29, 0, 0, 0.1);
  background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  border-radius: 0.3px;
  border: 0.7px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {   
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 1px solid #989898;
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0.1px rgba(3, 0, 0, 0.1), 0px 0px 0.1px rgba(29, 0, 0, 0.1);
  background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  border-radius: 0.3px;
  border: 0.7px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 1px solid #989898;
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.7px solid #ffffff;
  border-radius: 0.6px;
  box-shadow: 0.1px 0.1px 0.1px rgba(3, 0, 0, 0.1), 0px 0px 0.1px rgba(29, 0, 0, 0.1);
}
input[type=range]::-ms-fill-upper {
  background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  border: 0.7px solid #ffffff;
  border-radius: 0.6px;
  box-shadow: 0.1px 0.1px 0.1px rgba(3, 0, 0, 0.1), 0px 0px 0.1px rgba(29, 0, 0, 0.1);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 1px solid #989898;
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  height: 6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}


#word_size_bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(74, 74, 74, 1);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0.12);
}
#word_size_bar::-webkit-slider-thumb {
    box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 1px solid #989898;
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
#word_size_bar:focus::-webkit-slider-runnable-track {
  background: rgba(74, 74, 74, 1);
}
#word_size_bar::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(74, 74, 74, 1);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0.12);
}

#word_size_bar::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#word_size_bar::-ms-fill-lower {
  background: rgba(61, 61, 61, 0.7);
  border: 0.2px solid rgba(1, 1, 1, 0.12);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
#word_size_bar::-ms-fill-upper {
  background: rgba(74, 74, 74, 1);
  border: 0.2px solid rgba(1, 1, 1, 0.12);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

#word_size_bar:focus::-ms-fill-lower {
  background: rgba(74, 74, 74, 1);
}
#word_size_bar:focus::-ms-fill-upper {
  background: rgba(87, 87, 87, 0.7);
}



.student_phto_wrapper{
    height: 64px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 100vw;
}

.student_phto{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /*margin: 2px auto;
    margin-left: 7px;*/
    flex: 0 0 50px;
    margin: 2px 8px;
    display: block;
    border: 3px solid white;
}

.student_photo_zoom{
    transform: scale(1.5);
    z-index: 21;
    margin-left: 22px;
}

.bell{
    position: relative;
    top: 38px;
    left: -27px;
    height: 20px;
    width: 20px;
}

.bell_photo_zoom{
    z-index: 22;
    top: 47px;
    left: -19px;
}

.message_wrapper{
    display: none;
    position: relative;
    top: -19px;
}

.message_owner{
    color: white;
    position: relative;
    top: 8px;
    left: 19px;
}

.message_box{
    background-color: rgba(74, 74, 74, 0.7);
    position: relative;
    top: -8px;
    left: 12px;
    border-radius: 5px;
    color: white;
    z-index: 10;
    word-break: break-all;
    padding: 17px;
    display: block;
    max-width: 350px;
    word-wrap:break-word;
    height: 20px;

}

.message_triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent rgba(74, 74, 74, 0.7) transparent transparent;
    position: relative;
    top: 24px;
    left: 0;
    z-index: 10;
}
#teacher_info{
    position: absolute;
    right: 0;
    height: 80px;
    width: 195px;
    display: flex;
    flex-direction: row;
    z-index: 3;
    align-items: center;
    padding: 5px 16px;
}

#teacher_photo{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    align-items: center;
    margin-right: 20px;
}

#teacher_name{
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 3px #434a54;
}

#info_track{
    color: #999999;
    border: 1px solid #999999;
    border-radius: 2px;
    padding: 5px 11px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    margin-top: 6px;
    font-size: 12px;
    cursor: pointer;
}

#track_favorite{
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 4px;
}

#live_video{
    width:calc(100% - 80px);
    /*80px是#students的寬度*/
    height:100%;
}

#buttons_section{
    display: flex;
    height: 34px;
    color: white;
    padding-left: 80px;
    /*80px是#students的寬度*/
    font-size: 15px;
    box-sizing: border-box;
    justify-content:space-between;
}

#ask_teacher,#buttons{
    display: flex;
}

#ask_input{
    background-color: rbga(255,255,255,0);
    border: 1px solid #979797;
    padding: 0px 20px;
    font-size: inherit;
    width: 320px;
    color: #979797;
}

#ask_submit{
    background-color: #00B88B;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding: 0 17px;
    line-height: 35px;
    /*跟#buttons_section一樣高*/
}

#ask_student_question,.student_button{
    position: relative;
    top: -80px;
}

#ask_student_question{
    position: relative;
    top: -80px;
    height: 80px;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    margin: 0 7px;
    text-align: center;
    line-height: 80px;
    /*line-height equals to hight */
}

#O{
    background-color: #4a90e2;
}

#X{
    background-color: #e04054;
}

.feature_button{
    background-color: #4A4A4A;
    line-height: 35px;
    padding: 0 68px;
    margin: 0 7px;
    cursor: pointer;
    display: inline-block;
}

#class_content_section{
    display: flex;
    padding: 25px 80px 100px;

}

.class_content{
    width: 50%;
}

.class_content_title{
    font-size: 26px;
    font-weight: normal;
}

.article_content{    
    padding-left: 27px;
    font-size: 15px;
}

.article_content_list>li{
    margin: 12px 0;
}

#class_ask_question>li{
    list-style-type: none;
    display: flex;
    line-height: 23px;
}

.yes_no_num_content{
    display: flex;
    margin-left: 40px;
}
.yes_no_num{
    margin: 0 8px;
    display: inline-block;
}

.yes_no_visual{
    width: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a90e2+1,4a90e2+54,e04054+55,e04054+100 */
    background: #4a90e2; /* Old browsers */
    background: -moz-linear-gradient(left,  #4a90e2 1%, #4a90e2 70%, #e04054 70%, #e04054 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4a90e2 1%,#4a90e2 70%,#e04054 70%,#e04054 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4a90e2 1%,#4a90e2 70%,#e04054 70%,#e04054 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a90e2', endColorstr='#e04054',GradientType=1 );  IE6-9 */
}

#about_company_section{
    background-color: #2c2d2f;
    color:white;
}

#about_link_wrapper{
    display: flex;
    justify-content: center;
    padding: 40px 0 18px;
}

.about_link{
    text-decoration: none;
    color:white;
    margin: 0 20px;
    font-size: 16px;
}

#copyright{
    padding: 18px 0;
    font-size: 13px;
}